!!! 5
%html
  %head
    %title Richard Galling

    = csrf_meta_tags
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: 'Milwaukee artist Richard Galling' }

    = stylesheet_link_tag 'application', media: 'all'

  %body
    .container-fluid
      .row-fluid
        .span2
          #nav
            %h1= link_to 'Richard Galling', root_path

            %ul
              %li= link_to 'Image', image_path
              %li= link_to 'Archive', archive_path
              %li= link_to 'Text', '/text'
              %li= link_to 'CV', '/cv'
              %li= link_to 'Contact', '/contact'
              %li= link_to 'Links', '/links'

        .span6
          #content
            = yield
